@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Calc Service Demonstration</h1>
    <ul>
        <li><a href="Calc/PassUsingModel">Using Model Calc</a></li>
        <li><a href="Calc/PassUsingViewData">Using ViewData Calc</a></li>
        <li><a href="Calc/PassUsingViewBag">Using ViewBag Calc</a></li>
        <li><a href="Calc/AccessServiceDirectly">Using Service Injection Calc</a></li>
    </ul>
</div>

